<h1>Admin Pannel</h1>
<a asp-controller="Products" , asp-action="Index">pRODUCTS</a>
<a asp-controller="Categories" , asp-action="Index">Categories</a>
<a asp-controller="Admin" , asp-action="CreateRole">CreateRole</a>
<a asp-controller="Admin" , asp-action="SetUserRole">SetUserRole</a>
