@{
    ViewData["Title"] = "Создание роли";
}

<h4>Создание роли</h4>
<hr />
        <form asp-action="CreateRole">
            <div  class="text-danger"></div>
    
            <div class="form-group">
                <span>Название роли</span>
                <input name="roleName" class="form-control" />
               
            </div>
           
            <div class="row mt-2">
                    <div class="col-6">
                        <input type="submit" value="Создать" class="btn btn-primary" />
                    </div>
                    <div class="col-6">
                        <a class="btn btn-secondary float-end" asp-action="Admin">Вернуться назад</a>
                    </div>
            </div>
        </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}