@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Назначение роли";
}

@* <form asp-controller="Admin" asp-action="UserFind">
    <div>Find user by name</div>
    <input name="name" type="text" patholder="введите текст" />
    <button type="submit">submit</button>
</form> *@
@{ var users = UserManager.Users.AsEnumerable();
    var role = RoleManager.Roles.AsEnumerable();
    <form asp-action="SetUserRole" asp-controller="Admin">
        <div class="row">
            <div class="col-4">
                <select class="form-control"  name="name">
                    @foreach (var user in users)
                    {
                        <option value="@user.UserName">@user.UserName</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <select class="form-control" name="role">
                    @foreach (var _role in role)
                    {
                        <option value="@_role">@_role</option>

                    }
                </select>
            </div>
            <div class="col-4">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>
    </form>
}
<div><partial name="AllUserWithRoles" /></div>