@model PracticEPAM.Models.Review
@using Microsoft.AspNetCore.Identity
@using Org.BouncyCastle.Tls
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Create";
}

<h4>Создать отзыв</h4>
<hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="IdUser" type="hidden" value="@UserManager.GetUserId(User) " class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="IdProduct" type="hidden" class="control-label">Название обозреваемого продукта</label>
            <select asp-for="IdProduct" class="form-control" asp-items="ViewBag.IdProduct"></select>
            </div>
@*             <div class="form-group">
                <label asp-for="ReviewHtml" class="control-label"></label>
                <input asp-for="ReviewHtml" class="form-control" />
                <span asp-validation-for="ReviewHtml" class="text-danger"></span>
            </div> *@
            <div class="form-group mt-3">
                    <textarea asp-for="ReviewHtml"></textarea>
                    <span asp-validation-for="ReviewHtml" class="text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary float-end" asp-controller="Home" asp-action="MainPage">Вернуться назад</a>
                </div>
            </div>
        </form>


<script src="https://cdn.tiny.cloud/1/efvuwqhzpbq45qrktmnmex1io61pea1e0fd9fws7d9ut7j74/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}