@{
    ViewData["Title"] = "Home Page";
}

<div id="main" class="m-5 p-3 bg-white rounded">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="product-card bg-body-tertiary">
                <div class="product-thumb p-2">
                    <a href="#" class="item1">
                        <img src="https://wpapers.ru/wallpapers/films/Serials/17391/1920x1080_%D0%A1%D0%B2%D0%B5%D1%80%D1%85%D1%8A%D0%B5%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5.jpg"
                             alt="">
                    </a>
                    <div class="product-details">
                        <h4><a class="text-center" href="#">Сверхъестественное</a></h4>
                        <p>Сериал рассказывает о приключениях братьев Сэма и Дина Винчестеров, которые путешествуют по Соединённым Штатам на чёрном автомобиле Chevrolet Impala 1967 года, расследуют паранормальные явления, многие из которых основаны на американских городских легендах и фольклоре, и сражаются с порождениями зла, такими как демоны и призраки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="product-card bg-body-tertiary">
                <div class="product-thumb p-2">
                    <a href="#" class="item1">
                        <img src="https://wpapers.ru/wallpapers/films/Serials/17391/1920x1080_%D0%A1%D0%B2%D0%B5%D1%80%D1%85%D1%8A%D0%B5%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5.jpg"
                             alt="">
                    </a>
                    <div class="product-details">
                        <h4><a class="text-center" href="#">Сверхъестественное</a></h4>
                        <p>Сериал рассказывает о приключениях братьев Сэма и Дина Винчестеров, которые путешествуют по Соединённым Штатам на чёрном автомобиле Chevrolet Impala 1967 года, расследуют паранормальные явления, многие из которых основаны на американских городских легендах и фольклоре, и сражаются с порождениями зла, такими как демоны и призраки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="product-card bg-body-tertiary">
                <div class="product-thumb p-2">
                    <a href="#" class="item1">
                        <img src="https://wpapers.ru/wallpapers/films/Serials/17391/1920x1080_%D0%A1%D0%B2%D0%B5%D1%80%D1%85%D1%8A%D0%B5%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5.jpg"
                             alt="">
                    </a>
                    <div class="product-details">
                        <h4><a class="text-center" href="#">Сверхъестественное</a></h4>
                        <p>Сериал рассказывает о приключениях братьев Сэма и Дина Винчестеров, которые путешествуют по Соединённым Штатам на чёрном автомобиле Chevrolet Impala 1967 года, расследуют паранормальные явления, многие из которых основаны на американских городских легендах и фольклоре, и сражаются с порождениями зла, такими как демоны и призраки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="product-card bg-body-tertiary">
                <div class="product-thumb p-2">
                    <a href="#" class="item1">
                        <img src="https://wpapers.ru/wallpapers/films/Serials/17391/1920x1080_%D0%A1%D0%B2%D0%B5%D1%80%D1%85%D1%8A%D0%B5%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5.jpg"
                             alt="">
                    </a>
                    <div class="product-details">
                        <h4><a class="text-center" href="#">Сверхъестественное</a></h4>
                        <p>Сериал рассказывает о приключениях братьев Сэма и Дина Винчестеров, которые путешествуют по Соединённым Штатам на чёрном автомобиле Chevrolet Impala 1967 года, расследуют паранормальные явления, многие из которых основаны на американских городских легендах и фольклоре, и сражаются с порождениями зла, такими как демоны и призраки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="product-card bg-body-tertiary">
                <div class="product-thumb p-2">
                    <a href="#" class="item1">
                        <img src="https://wpapers.ru/wallpapers/films/Serials/17391/1920x1080_%D0%A1%D0%B2%D0%B5%D1%80%D1%85%D1%8A%D0%B5%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5.jpg"
                             alt="">
                    </a>
                    <div class="product-details">
                        <h4><a class="text-center" href="#">Сверхъестественное</a></h4>
                        <p>Сериал рассказывает о приключениях братьев Сэма и Дина Винчестеров, которые путешествуют по Соединённым Штатам на чёрном автомобиле Chevrolet Impala 1967 года, расследуют паранормальные явления, многие из которых основаны на американских городских легендах и фольклоре, и сражаются с порождениями зла, такими как демоны и призраки.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
