@model PracticEPAM.ViewModels.ReviewsPage
<h1 id="name" class="text-center"> @Model.Product.Name</h1>
<p class="text-center">@Model.Product.Description</p>
<h6 class="text-center">5 сентября 2023г.</h6>
<div class="container mb-4">
    <div class="row">
        <div class="col-9">
            <div style="width: auto; height: auto;">
                <img object-fit="cover" style="max-width: 100%; max-height: 400px; display: inline; float: right" src="@String.Format(" data:image /gif;base64,{0}",Convert.ToBase64String(@Model.Product.Photo))" alt="im faded">
            </div>
        </div>
        <div class="col-3 d-block float-end">
            <div>
            </div>
        </div>
    </div>
</div>
    <partial name="ReviewsPartial"  />
}
