@model PracticEPAM.Models.Category

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>

    <h4 class="mb-3 bg-warning rounded ">
        <span class="ms-5">Категория - @Html.DisplayFor(model => model.Category1)<span/>
    </h4>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategories" />
        <div class="row">
            <div class="col-6">
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
            <div class="col-6">
                <a class="btn btn-secondary float-end" asp-action="Index">Вернуться назад</a>
            </div>
        </div>
    </form>
</div>
