@model IEnumerable<PracticEPAM.Models.Category>

@{
    ViewData["Title"] = "Создание категории";
}

<h1>Создание категории</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Создать новую категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название категории</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Category1)
            </td>
            <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCategories">Изменить</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCategories">Удалить</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
