@model PracticEPAM.Models.Product

@{
    ViewData["Title"] = "Создание статьи";
}

<h4>Создание статьи</h4>
<hr />
<div class="row">
    <div class="mx-auto">
        <form class="form-control" enctype="multipart/form-data"  asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label text="Photo" class="control-label">Фото</label>
                <input type="file" required name="Photo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategories" class="control-label">ID категории</label>
                <select asp-for="IdCategories" class ="form-control" asp-items="ViewBag.IdCategories"></select>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary float-end" asp-action="Admin">Вернуться назад</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
