@model PracticEPAM.Models.Product

@{
    ViewData["Title"] = "Изменение статьи";
}

<h4>Изменение статьи</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduct" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategories" class="control-label">ID категории</label>
                <select asp-for="IdCategories" class="form-control" asp-items="ViewBag.IdCategories"></select>
            </div>
            <div class="form-group">
                <label asp-for="LikesCount" class="control-label">Количество лайков</label>
                <input asp-for="LikesCount" class="form-control" />
                <span asp-validation-for="LikesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DislikesCount" class="control-label">Количество дизлайков</label>
                <input asp-for="DislikesCount" class="form-control" />
                <span asp-validation-for="DislikesCount" class="text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary float-end" asp-action="Index">Вернуться назад</a>
                </div>
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
